<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- Landing Page -->
<div class="landingPage">

	<div class="landingData">
		<p>Welcome to my page</p>
		<p>Have a wonderful experience</p>
		<p>Click <a href="home.htm"><img src="images/logo.png" width="150px"></a> to continue</p>
	</div>
</div>


</body>
</html>
